@font-face {
  font-family: "Roboto";

  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
}


@font-face {
  font-family: "Roboto-Black";

  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto-Black.woff") format("woff");
}


@font-face {
  font-family: "Raleway";

  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Raleway.woff2") format("woff2"),
    url("../fonts/Raleway.woff") format("woff");
}


@font-face {
  font-family: "Raleway-Black";

  font-weight: normal;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway-Black.woff") format("woff");
}


